@charset "UTF-8";

@font-face {
    font-family: 'Xilosa';
    src: url(fonte/xilosa_.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-image: linear-gradient(to right, #d8b23f, #FCD46D );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4b1a0028;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    font-family: 'xilosa';
    font-size: 3em;
    color: #5A3D2E;
    text-align: center;
    text-shadow: 1px 1px 2px #4b1a00a6;
}

h2 {
    font-family: 'xilosa';
    font-size: 2em;
    color: #E97136;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #5A3D2E
}

a:visited {
    color: #3a251b;
}

a:hover {
    text-decoration: underline;
}